.lionwheel-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    padding: 0 10px 0;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    border: none;
    outline: none;
}

.lionwheel-print-button {
    background: #008000;
}

.lionwheel-print-button:hover {
    background: #005200;
    color: #FFFFFF;
}

.lionwheel-print-button:visited {
    color: #FFFFFF;
}

.lionwheel-button-container,
.lionwheel-table-deliv-num {
    text-align: center;
}

.lionwheel-table-deliv-num span {
    color: #ff8e15;
    font-weight: bold;
}
.lionwheel-table-deliv-not {
    text-align: center;
    color: #999;
}